body {
  font-family:'Times New Roman', serif; 
  font-size: 25px;
  background-image: url(imagen.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hidden {
  display: none;
}

#main {
  background-color: #ebf39100;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
}

button {
  background-color: #098390c0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px; 
  font-family: 'Times New Roman', serif;  
}

button:hover {
  background-color: #960fd4c0;
}

#timer {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#answers button {
  display: block;
  margin: 10px auto;
  width: 100%;
}

.correct {
  background-color: rgb(0, 255, 0);
  color: white;
}

.incorrect {
  background-color: rgb(255, 0, 0);
  color: white;
}


